* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  ---header-height: 70px;
  ---deskNotify-height: 50px;
  ---textInput-height: 35px;
  ---row-Height: 100% / 10;
  ---chats-height: calc(
    100% - var(---header-height) - var(---textInput-height) -
      var(---deskNotify-height)
  );
}
/* utilities */
.beetwen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* posizione app */
body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  background: linear-gradient(#009688 0 20%, #d9dbd5 20% 100%);
}
#app {
  display: flex;
  margin: auto;
  height: 90%;
  width: 85%;
}
.leftSide {
  width: 35%;
  height: 100%;
  background-color: white;
}
.rightSide {
  width: 65%;
  height: 100%;
}

/* app header */

.heading {
  padding: 1%;
  background-color: #eaeaea;
  height: var(---header-height);
  width: 100%;
}
.headUtilities button {
  border: 0;
  margin: 3px 6px;
}
/* adv desk notify */

/* immagini del profilo */
.profileImg img {
  object-fit: cover;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 100%;
  width: 100%;
  border-radius: 100px;
}
.chats .profileImg {
  outline: solid 1px;
  border-radius: 1rem;
}
.profileImg {
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.profileInfo {
  margin-left: 0.5rem;
  display: flex;
  font-size: 1em;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
}
.horizontal {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.deskNotify {
  height: var(---deskNotify-height);
  padding: 3px;
  background-color: #8edafb;
}
.deskNotifyImg {
  margin: 0.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(---deskNotify-height) * 0.8);
  width: calc(var(---deskNotify-height) * 0.8);
  background-color: white;
  color: #8edafb;
  border-radius: 100px;
}
/* search chats */
.notifyTitle {
  font-size: 0.9rem;
}
.notifySub {
  font-size: 0.7rem;
}
.filter {
  height: var(---textInput-height);
  padding: 1% 1%;
  display: flex;
  font-size: 0.8rem;
  color: #b1b1b1;
  background-color: #eaeaea;
  align-items: center;
}

.filter input {
  border: 0;
  margin: 0;
  height: 100%;
  width: calc(100% - 30px);
}
.input-text {
  padding: 0 8px;
}
.filter button {
  border: 0;
  height: 100%;
  width: 30px;
  background-color: white;
  color: #b1b1b1;
}

/* chats */

.chats {
  padding-bottom: 0.2rem;
  position: relative;
  height: var(---chats-height);
}
.chatRow {
  height: var(---row-Height);
}
.chats ul {
  padding: 0;
  height: 100%;
  overflow-y: scroll;
}
.chats:hover .addChat {
  display: block;
}

li {
  margin: 8px 0;
  padding: 1%;
  list-style: none;
  display: flex;
}

.deleteAllChat p:hover,
li:hover {
  background-color: #e9ebeb;
  cursor: pointer;
}
button {
  cursor: pointer;
}

/* textarea */
.textArea {
  overflow-y: auto;
  height: calc(100% - 140px);
  width: 100%;
  background-image: url(../img/mine.jpg);
  background-size: contain;
  display: flex;
  flex-direction: column;
}

.newMsg {
  padding: 0% 0;
  height: 70px;
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
  color: #b1b1b1;
  background-color: #f3eee9;
  align-items: center;
}
.newMsg input {
  border-radius: 0.4rem;
  border: 0;
  height: 70%;
  width: calc(90%);
}

.newMsg button {
  border: 0;
  height: 80%;
  width: 30px;
  background-color: #f3eee9;
  color: #b1b1b1;
}

/* TEXT AREA */
.message {
  margin: 0.5rem 0;
  padding: 1rem;
  min-width: 3rem;
  max-width: 80%;
  border-radius: 1rem;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.message.sent {
  background-color: #d5f9ba;
  align-self: flex-end;
  margin-right: 1rem;
}
.message.received {
  margin-left: 1rem;
  background-color: white;
  align-self: flex-start;
}
.dateMsg {
  width: 100%;
  margin-top: 0.2rem;
  margin-bottom: -0.2rem;
  font-size: xx-small;
  text-align: end;
  float: right;
}
.lastMsg {
  color: gray;
  font-size: small;
}
.lastLog {
  color: gray;
  font-size: x-small;
}
.textMsg {
  float: left;
}
.invisible {
  display: none;
}

.message:hover > .invisible {
  display: block;
  cursor: pointer;
}
.message i {
  position: absolute;
  top: 0.2rem;
  height: 1rem;
}
.sent i {
  right: 1.4rem;
}
.received i {
  left: 1.4rem;
}
.infoDelete {
  padding: 0.3rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.1rem;
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
}
.headUtilities button {
  position: relative;
}
.deleteAllChat {
  padding: 0.3rem;
  z-index: 2;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.1rem;
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
}
.addChat {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* RESPONSIVE */
/* RESPONSIVE */
@media screen and (min-width: 561px) {
  .leftSide {
    min-width: 230px;
  }
}
@media screen and (max-width: 560px) {
  .chats {
    height: calc(var(---chats-height) + var(---deskNotify-height));
  }
  .leftSide {
    min-width: none;
  }
  .rightSide {
    width: 100%;
  }
  .chatRow,
  .leftSide .beetwen {
    display: flex;
    flex-direction: column;
  }
  .chatRow .profileImg {
    align-self: center;
  }
  .chatRow .profileInfo {
    margin: 0;
    text-align: center;
  }
  .leftSide .headUtilities,
  .rightSide .headUtilities .fa-search,
  .rightSide .headUtilities .fa-paperclip,
  .chats .profileInfo .lastLog,
  .chats .profileInfo .lastMsg,
  .deskNotify {
    display: none;
  }
}
