* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #dbdbd4;
}
#app {
  margin: auto;
  height: 90%;
  width: 85%;
  background-color: brown;
}
.profileImg img {
  height: 100%;
  width: 100%;
  border-radius: 100px;
}
.profileImg {
  height: 50px;
  width: 50px;
}
