<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuezzapp</title>
</head>

<body>
    <main id="app">
        <!-- sezione sinistra contatti -->
        <section class="leftSide">
            <!-- profilo loggato -->
            <div class="heading beetwen">
                <div class="beetwen">
                    <div class="profileImg">
                        <img :src="userLogged.img" alt="" srcset="">
                    </div>
                    <div class="profileInfo">
                        <p>{{ userLogged.name }}</p>
                    </div>
                </div>
                <div class="headUtilities">
                    <button>
                        <i class="fas fa-circle-notch"></i>
                    </button>
                    <button>
                        <i class="fas fa-comment-alt"></i>
                    </button>
                    <button>
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                </div>
            </div>

            <!-- attivare notifiche desktop -->
            <div class="deskNotify">
                <div class="horizontal">
                    <div class="deskNotifyImg">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="profileInfo">
                        <span>{{ deskNotify.title }}</span>
                        <sub>{{ deskNotify.sub }}</sub>
                    </div>
                </div>
            </div>

            <!-- ricerca chat -->
            <div class="filter">
                <button id="btnFilter"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input v-model.trim="search" type="text" id="input-filter" placeholder="Cerca o inizia una nuova chat">
            </div>

            <!-- chat aperte -->
            <div class="chats">
                <ul>
                    <li v-for="(user, index) in filterUsers(search)" :key="user.id" @click="selectedChat(user.id)"
                        class="chatRow">
                        <div class="profileImg">
                            <img :src="user.img" alt="" srcset="">
                        </div>
                        <div class="profileInfo">
                            <p>{{ user.name }}</p>
                            <span class="lastMsg">{{ user.text }}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!-- sezione destra textarea -->
        <section class="rightSide">
            <div class="heading beetwen">
                <div class="beetwen">
                    <div class="profileImg">
                        <img :src="users[activeIndex].img" alt="" srcset="">
                    </div>
                    <div class="profileInfo">
                        <p>{{ users[activeIndex].name }}</p>
                        <sub>{{ users[activeIndex].text }}</sub>
                    </div>
                </div>
                <div class="headUtilities">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                    <button>
                        <i class="fas fa-paperclip"></i>
                    </button>
                    <button>
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                </div>
            </div>
            <div class="textArea">
                <div v-for="message in users[activeIndex].messages" class="message"
                    :class="{'sent': message.sent, 'received': !message.sent}">
                    <p class="textMsg">{{ message.text }}</p>
                    <p class="dateMsg">{{ format(message.date) }}</p>
                </div>
            </div>
            <div class="newMsg">
                <button><i class="far fa-smile"></i></button>
                <input v-model="users[activeIndex].messages.text" @keyUp.enter="sendMsg(activeIndex)" class="msg-input"
                    type="text" placeholder="Scrivi un messaggio">
                <button><i class="fas fa-microphone"></i></button>
            </div>
        </section>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>

</html>