<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuezzapp</title>
</head>

<body>
    <main id="app">

        <!-- sezione contatti SX-->
        <section class="leftSide">
            <!-- profilo loggato heading SX-->
            <div class="heading beetwen">
                <div class="beetwen">
                    <div class="profileImg">
                        <img :src="userLogged.img" alt="" srcset="">
                    </div>
                    <div class="profileInfo">
                        <p>{{ userLogged.name }}</p>
                    </div>
                </div>
                <div class="headUtilities">
                    <button><i class="fas fa-circle-notch"></i></button>
                    <button><i class="fas fa-comment-alt"></i></button>
                    <button><i class="fas fa-ellipsis-v"></i></button>
                </div>
            </div>
            <!-- attivare notifiche desktop -->
            <div class="deskNotify">
                <div class="horizontal">
                    <div class="deskNotifyImg">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="profileInfo">
                        <p class="notifyTitle">{{ deskNotify.title }}</p>
                        <p class="notifySub"><a href="">{{ deskNotify.sub }}</a></p>
                    </div>
                </div>
            </div>
            <!-- ricerca chat SX -->
            <div class="filter">
                <button id="btnFilter"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input v-model="search" type="text" class="input-text" placeholder="Cerca o inizia una nuova chat">
            </div>
            <!-- RUBRICA CHAT APERTE SX -->
            <div @mouseover="showAddContact = true" @mouseleave="showAddContact = false" class="chats">
                <div v-show="showAddContact" @click="showAddContact" class="addChat"><button><i
                            class="fas fa-plus"></i></button></div>
                <div v-show="addChatShow" class="infoDelete">
                    <input type="text" v-model="newName" placeholder="Inserisci il nome del contatto">
                    <br>
                    <input @keyUp.enter="addChat()" type="text" v-model="newImg"
                        placeholder="Inserisci la foto del contatto">
                    <button @click="addChat()"><i class="fas fa-plus"></i></button>
                </div>
                <ul>
                    <li v-for="(user, index) in filterUsers(search)" :key="user.id" v-show="user.isShow"
                        @click="selectedChat(user.id)" class="chatRow">
                        <div class="profileImg">
                            <img :src="user.img" alt="" srcset="">
                        </div>
                        <div class="profileInfo">
                            <p>{{ user.name }}</p>
                            <span class="lastMsg">{{ user.text }}</span>
                            <span class="lastLog">{{ format(user.lastLog) }}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!-- sezione destra textarea DX-->
        <section class="rightSide">
            <!-- HEADING OPEN CHAT  DX-->
            <div class="heading beetwen">
                <div class="beetwen">
                    <div class="profileImg">
                        <img :src="users[activeIndex].img" alt="" srcset="">
                    </div>
                    <!-- user openchat info DX -->
                    <div class="profileInfo">
                        <p>{{ users[activeIndex].name }}</p>
                        <span class="lastLog">{{format(users[activeIndex].lastLog) }}</span>
                    </div>
                </div>
                <div @click="toggleInvisible()" class="headUtilities">
                    <button><i class="fas fa-search"></i></button>
                    <button><i class="fas fa-paperclip"></i></button>
                    <!-- ELIMINAZIONE CHAT O MESSAGGI DENTRO LA CHAT -->
                    <button>
                        <i class="fas fa-ellipsis-v"></i>
                        <div class="deleteAllChat" v-show="deleteAllChat">
                            <p @click="deleteAllMsg()">Delete this whole chat</p>
                            <p @click="deleteThisChat()">Delete this Conversationt</p>
                        </div>
                    </button>
                </div>
            </div>
            <!-- AREA MESSAGGI -->
            <div class="textArea">
                <div v-for="(message, messageIndex) in users[activeIndex].messages" class="message"
                    :class="{'sent': message.sent, 'received': !message.sent}">
                    <div @click.prevent="isShow(message)" class="invisible">
                        <i class="fas fa-chevron-down"></i>
                        <div class="infoDelete" v-show="!message.isShow">
                            <p @click="deleteMsg(messageIndex)">Elimina messaggio</p>
                        </div>
                    </div>
                    <p class="textMsg">{{ message.text }}</p>
                    <p class="dateMsg">{{ format(message.date) }}</p>

                </div>
            </div>
            <!-- inserimento nuovi messaggi -->
            <div class="newMsg">
                <button><i class="far fa-smile"></i></button>
                <input v-model.trim="users[activeIndex].messages.text" @keyUp.enter="sendMsg(activeIndex)"
                    class="input-text" type="text" placeholder="Scrivi un messaggio">
                <button v-if="users[activeIndex].messages.text == ''"><i class="fas fa-microphone"></i></button>
                <button v-else @click="sendMsg(activeIndex)"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </section>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>

</html>